
<% items.each do |item| %>
<tr>
	<td><%= item.id %></td>
	<td><%= link_to item.name, admin_item_path(item.id) %></td>
	<td><%= item.price %></td>
	<td><%= item.genre.name %></td>
	<td>											
		<% if item.is_sold == false %>
		販売中
		<% else %>
		売り切れ
		<% end %>
	</td>
</tr>
<% end %>