<h4>商品一覧</h4>
<%= link_to "商品新規登録", new_admin_item_path %>

<div class="row">
	<table class="table table-hover table-inverse">
		<thead>
			<tr>
				<th>商品ID</th>
				<th>商品名</th>
				<th>税抜価格</th>
				<th>ジャンル</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<tbody>
			<% if @search_items %>
			<%= render 'admin/items/item', items: @search_items %>
			<% else %>
			<%= render 'admin/items/item', items: @items %>
			<% end %>
		</tbody>
	</table>
</div>